/* NAVIGATION CONTAINER */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--purple-light-low);
  padding: 0.5rem 0;
}

.nav__logo__wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-left: 1rem;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.2rem 1rem;
  box-shadow: var(--section-medium) rgba(0, 0, 0, 0.03);
  z-index: 9;
  position: relative;
  padding-inline: 1rem;
  position: sticky;
  top: 0;
  left: 0;
}

/* LOGO IMAGE */
.nav__logo {
  width: 3rem;
  filter: brightness(60%);
  cursor: pointer;
}

/* LOGO HEADING */
.navigation .router__link.logo .nav__header {
  display: inline-block;
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: var(--bold-500);
  color: var(--main-purple);
  cursor: pointer;
}

/* NAV LIST */
.navigation .nav__list {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-left: auto;
  font-size: 1.2rem;
  font-weight: var(--bold-500);
  list-style-type: none;
  color: var(--main-purple);
}

/* Links */
.router__link:link,
.router__link:visited,
.logout-button {
  text-decoration: none;
  color: var(--main-purple);
  transition: all 0.3s;
}

.router__link:hover,
.router__link:active,
.logout-button:hover {
  cursor: pointer;
  color: var(--purple-light-high);
  border-bottom: 1px solid currentColor;
}

.logout-button {
  color: var(--main-purple);
  box-shadow: var(--btn-inset) var(--purple-light-high);
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  background-color: transparent;
  font-family: inherit;
  font-size: 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: all 0.3s;
}

.logout-button:hover {
  border: none;
  /* background-color: var(--white); */
  box-shadow: var(--btn-inset) var(--main-bg);
}

.router__link.logo:hover,
.router__link.logo:active {
  border: none;
}

/* Link LogIn / SignUp */
.router__link.last:link,
.router__link.last:visited {
  margin-left: 0.2rem;
  background-color: var(--main-purple);
  color: var(--main-bg);
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  transition: all 0.3s;
}

.router__link.last:hover,
.router__link.last:active {
  background-color: inherit;
  color: var(--main-purple);
  box-shadow: var(--btn-inset) var(--purple-light-high);
  border-bottom: none;
}

/* Profile image link */
.profile__img__link:hover {
  border: none;
}

.user-info-wrapper {
  display: flex;
  margin-right: 1vw;
  align-items: center;
}

.nav-button {
  font-size: 17px;
  text-decoration: none;
  color: rgb(36, 36, 36);
  transition-duration: 0.4s;
}

.nav-button:hover {
  color: #c1272d;
  cursor: pointer;
}

.username__link:link,
.username__link:visited {
  color: var(--yellow-darker) !important;
  color: var(--purple-light-high) !important;
  transition: all 0.3s;
}

.username__link:hover,
.username__link:active {
  box-shadow: none;
  border-bottom: none;
  color: var(--purple-dark-high) !important;
}

.mobile__navigation {
  display: none;
}

/*******************************************************/
/* MEDIA QUERIES */
/* 990px */
@media only screen and (max-width: 990px) {
  .navigation {
    display: none;
    position: unset;
  }

  .mobile__navigation {
    display: flex;
    align-items: center;
  }

  .mobile__navigation .hamburger {
    position: absolute;
    right: 5%;
    cursor: pointer;
  }

  .mobile__navigation .nav__list {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 53px;
    right: 0;
    width: 100%;
    background: #f0effff3;
    border-top: 2px solid var(--main-purple);
    padding: 2rem;
    height: 100vh;
  }

  .navbar {
    opacity: 1;
  }

  .logout-button {
    box-shadow: none;
    font-weight: var(--bold-500);
    padding: 0;
  }

  .router__link:link,
  .router__link:visited,
  .router__link.last:link,
  .router__link.last:visited,
  .logout-button {
    text-decoration: none;
    transition: all 0.3s;
    background-color: transparent;
    color: var(--main-purple);
  }
  .router__link:hover,
  .router__link:active,
  .router__link.last:hover,
  .router__link.last:active .logout-button:hover {
    cursor: pointer;
    color: var(--purple-light-high);
    border-bottom: 1px solid currentColor;
  }
}
