/* Profile Layout */
.profile__layout {
  width: 80%;
  padding: 2rem;
  margin: 2rem auto 0;
}

/* Profile Header Container */
.profile__header__container {
  padding: 2rem;
  background-color: var(--white);
  border-radius: 0.3rem;
  box-shadow: var(--section-light);
}

/* Profile UL */
.profile__list {
  list-style: none;
  display: flex;
  align-items: center;
}

/* Profile Image */
.profile__list__container {
  width: 5rem;
  margin-right: 1rem;
}

.profile__list__img {
  width: 100%;
  border-radius: 100%;
}

/* Profile Name */
.profile__list__heading {
  font-size: 2rem;
  font-weight: var(--bold-500);
  color: var(--gray-darkest);
}

/* Profile Info */
.profile__list__info {
  color: var(--gray-dark-low);
}

.profile__list__info > span:first-child {
  margin-right: 1rem;
}

/* Profile Button */
.profile__list > li:last-child {
  margin-left: auto;
}

.profile__list__btn {
  font-family: inherit;
  border: none;
  border-radius: 0.3rem;
  padding: 1rem 1.5rem;
  background-color: var(--main-purple);
  color: var(--main-bg);
  font-size: 1rem;
  font-weight: var(--bold-500);
  transition: all 0.3s;
}

.profile__list__btn:hover {
  background-color: inherit;
  color: var(--main-purple);
  box-shadow: var(--btn-inset) var(--purple-light-high);
}

/* Profile Description */
.profile__desc__container {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}

.profile__desc {
  padding: 2rem;
  background-color: var(--white);
  border-radius: 0.3rem;
  width: 100%;
  text-align: center;
  box-shadow: var(--section-light);
}

.profile__desc__heading {
  font-size: 1.4rem;
  font-weight: var(--bold-500);
  margin-bottom: 1.2rem;
}

.profile__desc__text {
  font-size: 1rem;
}
