.list {
  list-style: none;

  width: 80%;
  padding: 1.2rem;
  margin: 1rem auto 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.event__list__heading {
  /* grid-column: 1/-1; */
  padding: 3rem 0 0 0;
}

.message__container {
  text-align: center;
}
