.list {
  list-style: none;
  padding: 1.2rem;
  margin: 1rem auto 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.event__list__heading {
  /* grid-column: 1/-1; */
  padding: 3rem 0 0 0;
}

.message__container {
  grid-column: 1/-1;
  justify-self: center;
  font-size: 1rem;
}

.message_link {
  display: block;
  text-align: center;
  margin-top: 1rem;
}
