.example__section {
  padding-block: 7rem;
  box-shadow: var(--section-light);
}

.center-text {
  text-align: center;
}

.example__grid {
  display: grid;
  grid-template-columns: 0.8fr 0.8fr 1.4fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.heading__tertiary {
  font-size: 1.5rem;
  color: var(--gray-darkest);
  line-height: 1.2;
  margin-bottom: 2rem;
}

/* FIXME */
.example__img {
  width: 90%;
  box-shadow: var(--section-medium) rgba(0, 0, 0, 0.1);
}

.list__item .example__icon {
  width: 2.5rem;
  height: 2.5rem;
  color: var(--yellow-dark);
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.list__item {
  font-size: 1.4rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  line-height: 1.2;
}
