.featured__section {
  padding: 4rem 0 3rem 0;
}

.wrapper {
  max-width: 75rem;
  padding: 0 2rem;
  margin: 0 auto;
}

.featured__heading {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: var(--bold-700);
  color: var(--gray-dark-med);
  text-align: center;
  letter-spacing: 0.75px;
  margin-bottom: 1.8rem;
}

.featured__img {
  display: flex;
  justify-content: space-around;
  height: 2.5rem;
  filter: brightness(0);
  opacity: 50%;
}

/*******************************************************/
/* MEDIA QUERIES */
/* 1000px */
@media only screen and (max-width: 1000px) {
  .featured__img {
    height: 2rem;
  }
}

/* 750px */
@media only screen and (max-width: 750px) {
  .featured__section {
    padding: 2rem 0;
  }
  .featured__img {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .featured__img > img {
    max-width: 6rem;
  }
  .featured__heading {
    font-size: 1.2rem;
  }
}

/* 550px */
@media only screen and (max-width: 550px) {
  .featured__section {
    padding: 1.8rem 0;
  }
  .featured__img > img {
    max-width: 5rem;
  }
  .featured__heading {
    font-size: 1rem;
  }
}
