/* HERO SECTION */
.hero__section {
  width: 100%;
  height: calc(100vh - 4.5rem);
  display: grid;
  grid-template-columns: 1fr 0.75fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  background-color: rgba(240, 239, 255, 0.03);
  background-color: var(--white);
  box-shadow: var(--section-medium) rgba(0, 0, 0, 0.03);
  text-align: center;
  padding-block: 0.5rem;
}

/* HERO IMAGE */
.hero__section .hero__img {
  width: 100%;
}

/* HERO HEADING */
.hero .hero__heading {
  text-align: center;
  font-size: 2rem;
  color: var(--main-purple);
  letter-spacing: 0.2rem;
  line-height: 4rem;
  margin-bottom: 1rem;
}

/* HERO TEXT */
.hero .hero__desc {
  font-size: 1.3rem;
  line-height: 2rem;
  margin-bottom: 2rem;
}

/* HERO BTN */
.hero__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.hero__btn .btn {
  border: none;
  padding: 1rem 1.6rem;
  background-color: transparent;
  font-family: inherit;
  font-size: 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: all 0.3s;
}

/* BTN PRIMARY */
.btn.btn--primary {
  background-color: var(--main-purple);
  color: var(--main-bg);
}

.btn.btn--primary:hover {
  background-color: var(--purple-dark-med);
}

/* BTN SECONDARY */
.btn.btn--secondary {
  color: var(--main-purple);
  background-color: var(--white);
  box-shadow: var(--btn-inset) var(--purple-light-high);
}

.btn.btn--secondary:hover {
  /* background-color: #f0efff; */
  background-color: var(--white);
  box-shadow: var(--btn-inset) var(--main-bg);
}
