.testimonial__layout {
  background-color: var(--white);
  padding-block: 7rem;
  box-shadow: var(--section-light);
}

.testimonials__section {
  width: 100%;
  height: 30rem;
  max-width: 75rem;
  margin-inline: auto;
  background-color: var(--main-purple);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.2rem;
  height: 20rem;
}

.test__container {
  width: 50rem;
  height: 30rem;
  background-color: #e2e0ff;
  border-radius: 0.2rem;
  position: relative;
  border-radius: 0.5rem;
}

.carousel-root {
  margin-inline: auto;
  width: 65%;
  height: 20rem;
  text-align: center;
}

.carousel .carousel-status {
  top: 17px !important;
  right: 24px !important;
  font-size: 0.75rem !important;
  color: var(--main-bg) !important;
}

/*  */
.test__card {
  padding: 4rem 0 7rem;
  background-color: var(--main-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Carousel arrows */
.carousel-status {
  visibility: hidden;
}

.carousel .control-arrow:before,
.carousel.carousel-slider .control-arrow:before {
  margin: 0 !important;
}
.carousel.carousel-slider .control-arrow::after {
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--yellow-darker);
  top: 135px;
  position: absolute;
  z-index: -999;
  overflow: visible;
}

.carousel .control-next.control-arrow:after {
  right: -15px;
}

.carousel .control-prev.control-arrow:after {
  left: -15px;
}

.carousel.carousel-slider {
  overflow: visible !important;
}

.carousel.carousel-slider .control-arrow:hover {
  background: none !important;
}

/*******************************************************/
/* MEDIA QUERIES */
/* 1200px */
@media only screen and (max-width: 1200px) {
  .carousel-root {
    width: 85%;
  }
}

/* 750px */
@media only screen and (max-width: 750px) {
  .carousel-root {
    width: 90%;
  }
  .carousel.carousel-slider .control-arrow::after {
    top: 158px;
  }
}
