.form__body {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.7),
      rgba(76, 69, 179, 0.6)
    ),
    url("../../images/login/bg-9.jpg");
  background-position: bottom;
  background-position: center;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.form__container {
  background-color: var(--white);
  width: 80vw;
  height: auto;
  margin: 3rem auto 0;
  padding: 2rem 5rem;
  border-radius: 0.5rem;
}

/*******************************************************/
/* MEDIA QUERIES */
/* 900px */
@media only screen and (max-width: 900px) {
  .form__container {
    width: 85vw;
    padding: 2rem 3rem;
  }
}

/* 700px */
@media only screen and (max-width: 700px) {
  .form__container {
    width: 90vw;
    padding: 2rem;
  }
}

/* 500px */
@media only screen and (max-width: 500px) {
  .form__container {
    padding: 2rem 1.4rem;
  }
}
