body {
  background-color: var(--main-bg);
}

/*******************************************************/
/* Card layout*/
.card__layout {
  padding: 3rem;
}

/* Card */
.card {
  width: 25rem;
  height: auto;
  background-color: var(--white);
  border-radius: 0.3rem;
  box-shadow: var(--section-medium) rgba(0, 0, 0, 0.05);
}

/*******************************************************/
/* Price */
.price__section {
  width: 100%;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price__title {
  font-size: 1.2rem;
}

.price__ticket {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  font-weight: var(--bold-500);
}

.price__price {
  font-size: 1.2rem;
  font-weight: var(--bold-700);
  color: var(--main-purple);
}

/*******************************************************/
/* Image */
.image__section {
  position: relative;
}

.card__img {
  width: 100%;
  position: relative;
  filter: brightness(80%);
}

.card__btn {
  outline: none;
  border: none;
  color: var(--black);
  background-color: var(--main-bg);
  padding: 0.75rem;
  border-radius: 0.3rem;
  font-size: 1rem;
  font-weight: var(--bold-700);
  cursor: pointer;
  transition: all 0.3s;

  position: absolute;
  bottom: 1rem;
  left: 0.75rem;
}

/*******************************************************/
/* Details */
.details__section {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 0.75rem;
  border-bottom: 1px solid var(--gray-light-med);
}

.details {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  align-items: center;
}

.details__title {
  display: flex;
  gap: 0.2rem;
  align-items: center;
}

.details__icon {
  width: 1.2rem;
  color: var(--main-purple);
}

.details__desc {
  font-size: 1.2rem;
  font-weight: var(--bold-700);
}

.details__data {
  font-size: 1rem;
  font-weight: var(--bold-500);
  text-align: center;
  color: var(--gray-dark-high);
}

/*******************************************************/
/* Going */
.going__section {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--gray-light-med);
}

.going {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
}

.going__icon {
  width: 1.6rem;
  color: var(--gray-dark-low);
}

.going__wrapper {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  font-size: 1.2rem;
  font-weight: var(--bold-700);

  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.going__data {
  font-size: 1.2rem;
  color: var(--gray-dark-low);
}

/*******************************************************/
/* Likes */
.likes__section {
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--gray-light-med);
}

/*Likes Icon */
.likes__icon {
  width: 1.8rem;
  color: var(--main-purple);
  cursor: pointer;
  transition: all 0.5s;
}

/* Likes text */
.likes__text {
  font-size: 1.2rem;
  font-weight: var(--bold-700);
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.likes__text > span {
  font-weight: var(--bold-500);
}

/* Button */
.btn.btn__likes {
  padding: 1rem 1.4rem;
  border: none;
  border-radius: 0.3rem;
  font-size: 1rem;
  font-weight: var(--bold-700);
  background-color: var(--main-purple);
  color: var(--main-bg);
  transition: all 0.3s;
  cursor: pointer;
}

.btn.btn__likes:hover {
  /* background-color: #2b2866;
  color: #f0efff; */
  background-color: var(--white);
  color: var(--main-purple);
  box-shadow: var(--btn-inset) var(--main-purple);
}

/* BTN VIEW, BTN DELETE */
.btn__wrapper {
  display: flex;
  flex-direction: column !important;
  padding: 1rem 1rem;
  gap: 0.5rem !important;
}

.btn {
  border: none;
  padding: 0.75rem 0.6rem;
  border-radius: 0.3rem;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: var(--bold-600);
  letter-spacing: 0.1rem;
  width: 100%;
  transition: all 0.3s;
  cursor: pointer;
}

.btn--delete {
  color: #fff;
  color: var(--yellow-darker);
}

.btn--view:hover,
.btn--delete:hover {
  background-color: var(--gray-light-med);
}

.all-events__container {
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
}

.search__bar {
  border: none;
  outline: none;
  border-bottom: solid 2px var(--main-purple);
  padding: 0.75rem 0 0.75rem 0.5rem;
  font-size: 16px;
  align-self: flex-start;
  color: #294b80;
}

.filter-and-delete-container {
  margin: 0 auto;
}

.card__layout {
  display: flex;
  flex-direction: column;
}

/*------------------------ No Notes Message ------------------------ */
.message__container {
  padding: 7rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 1/-1;
}

.message__container > span {
  font-size: 2rem;
  color: var(--main-purple);
  margin-bottom: 10px;
  font-weight: var(--bold-500);
}
.message_link {
  font-size: 1.2rem;
  color: var(--purple-light-high);
  transition: all 0.3s;
}

.message_link:hover {
  color: var(--yellow-darker);
}
