/* Favorite Layout */
.favorite__body {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.7),
      rgba(76, 69, 179, 0.5)
    ),
    url("../../images/login/bg-9.jpg");
  background-position: bottom;
  background-position: center;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.favorite__layout {
  background-color: var(--gray-light-low);
  width: 80vw;
  height: auto;
  margin: 3rem auto 0;
  border-radius: 0.5rem;
  padding: 2rem;
}

/*******************************************************/
/* MEDIA QUERIES */
/*1450px */
@media only screen and (max-width: 1450px) {
  .favorite__layout {
    width: 90vw;
  }
}

/*690px */
@media only screen and (max-width: 690px) {
  .favorite__layout {
    padding: 2rem 10%;
  }
}

/*460px */
@media only screen and (max-width: 460px) {
  .favorite__layout {
    padding: 2rem 5%;
  }
}
