/* Form */
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 0 12rem 1rem;
  margin-top: 3.5rem;
}

/* Form Sign up */
.form.form--signup {
  gap: 0;
}

/* Buttons Sign up */
.form.form--signup .btn:first-of-type {
  margin-bottom: 1rem;
}

/* Login, |, Sign up buttons */
.login__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 3rem;
}

.form__btn,
.form__btn.btn--active {
  white-space: nowrap;
}

/* Login and Sign up btns */
.form__btn {
  font-size: 1.4rem;
  color: var(--gray-light-dark);
  cursor: pointer;
  border: 0;
  outline: none;
  background-color: transparent;
}

/* Clicked btn */
.form__btn.btn--active {
  font-size: 1.8rem;
  font-weight: var(--bold-700);
  color: var(--purple-dark-med);
}

/* | */
.form__span {
  font-size: 1.5rem;
}

/* Form textfield */
.form .textfield {
  padding-block: 0.1rem;
  font-size: 1.6rem;
  width: 100%;
  margin-bottom: 1.6rem;
}

.form .textfield label {
  font-size: 1.2rem;
  color: var(--gray-dark-low);
}

/* Buttons */
/* .btn__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
} */

.form .btn {
  border: none;
  padding: 1.2rem 0.6rem;
  border-radius: 0.3rem;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: var(--bold-600);
  letter-spacing: 0.1rem;
  width: 100%;
  transition: all 0.3s;
  cursor: pointer;
}

.form .btn.btn--primary {
  background-color: var(--main-purple);
  color: var(--main-bg);
  margin-top: 2rem;
}

.form .btn.btn--primary:hover {
  background-color: var(--purple-dark-med);
}

.form .btn.btn--secondary:hover {
  background-color: var(--white);
  box-shadow: var(--btn-inset) var(--main-purple);
}

.MuiInputBase-input {
  outline: none !important;
}

/* Link  Google */
.link__google {
  width: 100%;
}

/* Google img */
.google__img {
  border-radius: 50%;
  width: 3.5rem;
}

/*******************************************************/
/* MEDIA QUERIES */
/* 1250px */
@media only screen and (max-width: 1250px) {
  .form {
    padding: 0 5rem 2rem;
  }
}

/* 1000px */
@media only screen and (max-width: 1000px) {
  .form {
    padding: 0 2rem 2rem;
  }
}

/* 850px */
@media only screen and (max-width: 850px) {
  .form--signup {
    padding: 0 4rem 2rem;
  }
}
