* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
}

/*  GLOBAL SECTION HEADERS */
.center {
  text-align: center;
}

.m-b--small {
  margin-bottom: 2rem;
}

.section__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.section__primary__heading {
  font-size: 2.5rem;
  font-weight: var(--bold-600);
  color: var(--purple-dark-low);
}

.section__icon {
  font-size: 4rem;
  color: var(--purple-light-high);
}

.section__list__icon {
  font-size: 1.5rem;
  color: var(--yellow-darker);
  color: var(--purple-light-high);
}

.all__events {
  padding: 0 10rem;
}

/*******************************************************/
/* MEDIA QUERIES */
/* 1550px */
@media only screen and (max-width: 1550px) {
  .all__events {
    padding: 0 3rem;
  }
}

/* 850px */
@media only screen and (max-width: 850px) {
  .all__events {
    /* padding: 0 5rem; */
  }
}

/* 700px */
@media only screen and (max-width: 700px) {
  .section__primary__heading {
    font-size: 2rem;
  }
}
