.backdrop {
  background-image: linear-gradient(
    to right bottom,
    #f0efff,
    #bfbcdf,
    #918cc0,
    #645da0,
    #363280
  );
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 60%;
  padding: 4rem;
  background-color: var(--white);
  text-align: center;
  border-radius: 0.3rem;
}

.modal__heading {
  font-size: 2rem;
  font-weight: var(--bold-700);
  margin-bottom: 1rem;
}

.modal__text {
  font-size: 1.4rem;
  margin-bottom: 3rem;
}

.btn__modal {
  border: none;
  background-color: var(--main-purple);
  color: var(--main-bg);
  padding: 1rem 0.5rem;
  border-radius: 0.3rem;
  width: 25%;
  margin-inline: auto;
  font-size: 1.2rem;
  font-weight: var(--bold-600);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.btn__modal:hover {
  background-color: var(--purple-dark-med);
}

.router__modal {
  text-decoration: none;
}

/*******************************************************/
/* MEDIA QUERIES */
/* 990px */
@media only screen and (max-width: 990px) {
  .modal {
    width: 75%;
    padding: 3rem;
  }

  .modal__heading {
    font-size: 1.8rem;
  }

  .modal__text {
    font-size: 1rem;
    margin-bottom: 2rem;
  }

  .btn__modal {
    padding: 1.2rem 0.8rem;
    width: 50%;
  }
}

/* 650px */
@media only screen and (max-width: 650px) {
  .modal {
    width: 80%;
    padding: 2rem;
  }

  .modal__text {
    margin-bottom: 2.4rem;
  }

  .btn__modal {
    padding: 1rem 0.8rem;
    width: 50%;
  }
}
