/* Single Page Header */
.single__card__header {
  text-align: center;
}

.single__card__icon {
  font-size: 4rem;
  color: var(--purple-light-high);
}

.single__card__heading {
  font-size: 2.5rem;
  font-weight: var(--bold-600);
  color: var(--purple-dark-med);
  margin-bottom: 3rem;
}

/* Single Page Info */
.single__card__list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 4rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--gray-light-med);
}

.single__card__list > li {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.card__list__icon {
  font-size: 1.5rem;
  color: var(--yellow-darker);
  color: var(--purple-light-high);
}

.card__list__desc {
  font-size: 1rem;
  font-weight: var(--bold-500);
  color: var(--gray-dark-high);
}
