/* Single Card Info section */
.single__card__info {
  display: grid;
  grid-template-columns: 0.9fr 1.1fr;
  gap: 3rem;
  margin-top: 3rem;
}

.card__info__img {
  width: 100%;
  border-radius: 0.2rem;
}

/* Card description list */
.card__info__container {
  list-style: none;
}

.card__info__container > li:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

/* Event heading */
.card__info__heading {
  font-size: 2rem;
  color: var(--purple-dark-med);
}

/* Event Price */
.card__info__price {
  font-size: 1.2rem;
}

.card__info__price > span {
  font-weight: var(--bold-600);
  color: var(--purple-light-high);
  color: var(--yellow-darker);
}

/* Event text */
.card__info__desc {
  font-size: 1rem;
  letter-spacing: 0.05rem;
  line-height: 1.7rem;
  margin-bottom: 2rem;
}

/* Event btns */
.card__info__container > li:last-child {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.card__info__btn {
  border: none;
  padding: 1.2rem 1.5rem;
  border-radius: 0.3rem;
  color: var(--main-bg);
  font-size: 1rem;
  font-family: inherit;
  font-weight: var(--bold-600);
  cursor: pointer;
  transition: all 0.3s;
}

.btn__reserve {
  background-color: var(--main-purple);
}

.btn__reserve:hover {
  background-color: var(--purple-dark-med);
}

.btn__back {
  background-color: var(--main-bg);
  box-shadow: var(--btn-inset) var(--main-purple);
  color: var(--main-purple);
}

.btn__back:hover {
  background-color: var(--white);
  box-shadow: var(--btn-inset) var(--main-bg);
}
